

body {
	background-color: #EEEEEE;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

button, form, select {
	font-family: 'Roboto', sans-serif;
}

h1, h2, p {
	color: black;
}

button, select {
	background-color: auto;
}

table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

td, th {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	background-color: white;
}

.split-cell {
	border: none!important;
	background-color: transparent;
}


#weekday-selector:first-child, #advisory, #edit-menu, #experimental-features, #homework-edit-menu {
	display: none;
}
