body {
	background-color: #EEEEEE;
	text-align: center;
}

table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

td, th {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	background-color: white;
}

#first-cell {
	border: none!important;
	background-color: transparent;
}

#weekday-selector:first-child, #advisory, #edit-menu {
	display: none;
}
